<h1>About FBYT</h1>
<p>FBYT was created in order to easily create YouTube (YT) playlists from Facebook (FB) posts that I published to my feed over a long time period.</p>
<p>On the way I took the chance and learned Ruby on Rails for building the website.</p>
