<div class="center jumbotron">
  <h1>Welcome to FBYT</h1>

  <h2>
    This site can help you create YouTube playlists from YouTube videos published on your Facebook wall
  </h2>

  <%= link_to "Start!", fb_path, class: "btn btn-lg btn-primary" %>
</div>
