<footer class="footer">
  <div>
    <small>
    The FBYT website
    by <a href="itofthings.wordpress.com">Eran Sevi</a>
    </small>
  </div>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>